<nav>
<ul>
  <li><a class="wuxify-me" href="<%= youtube_path %>"><span class="awe-sc"><img src="<%= image_path "icons/youtube.png" %>"></span>+Youtube</a></li>
  <li><a class="wuxify-me" href="<%= new_video_url_path %>"><span class="awe-link"></span>+URL</a></li>
  <li><a class="wuxify-me"  style="line-height: 1;"  href="<%= new_uploaded_video_path %>"><span class="awe-upload-alt"></span>Video Uploads</a></li>
</ul>
</nav>
