<div class="audiojs " classname="audiojs" id="audiojs_wrapper0">
  <audio preload></audio>          
  <div class="prev-pl"></div>
  <div class="next-pl"></div>
  <div class="music-cloud"></div>
  <div id="vol-bf"><img src="/assets/volume-bf.png"></div>
  <div id="vol-af"><img src="/assets/volume-uf.png"></div>
  <div id="volume"></div>
</div>