<!--photo playlist setting-->
<div class="form slideshow-setting-div">
</div>

<!--choose music btn for photo playlist setting-->
<div id="image-playlist-setting-panel" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <%= render 'shared/image_playlist_setting_load_music' %>
</div>