<input type="hidden" id="music_not_load" />
<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>Select Background Music For Slide Show</h3>
  <input type="hidden"/><!-- store id -->
</div>
<div class="modal-body">
  <img src='/assets/icons/loading_dark.gif' style="display:block;margin: 0 auto;" />
</div>
<div class="modal-footer">
  <button class="btn" data-dismiss="modal" aria-hidden="true">Close</button>
</div>