<div id="set_feed_div" class="btn-group page-header-actions">
  <span class="btn">Set Feed</span>
  <span class="btn question-icon demoPopover" data-original-title="A Title" data-content="When you turn a Feed on for a particular service, Blendwith will automatically add new content from your account on that service to your Blendwith account. If a Feed is off, then you will have to manually add new content to Blendwith."><span class="awe-question-sign"></span></span>
  <button class="btn active" data-toggle="buttons-checkbox">On</button>
</div>