<nav>
<ul>
  <li><a class="wuxify-me" href="<%= soundcloud_path %>"><span class="awe-sc"><img src="<%= image_path "icons/soundcloud.png" %>"></span>+Soundcloud</a></li>
  <li><a class="wuxify-me" href="<%= new_music_url_path %>"><span class="awe-link"></span>+Podcast</a></li>
  <li><a class="wuxify-me" style="line-height: 1;"  href="<%= new_uploaded_audio_path %>"><span class="awe-upload-alt"></span>Music Uploads</a></li>
</ul>
</nav>
