<div id="audio_desc">
  <h1><%= @track.title %></h1>
  <span>By <%= @track.user.username %> <%= time_ago_in_words @track.created_at %> ago</span>
  <img src="<%= @track.artwork_url %>" alt="">
  <!--<p>-->
  <!--This player is the chronicle of the year 2012 which was filled with much love, happiness, and life changes.  Check out the November album to see all of the photos from the big day.<br>-->
  <!--<br>-->
  <!--Tags:  Wedding, Stories, Chicago, Sears Tower, Holy Name-->
  <!--</p>-->
</div>