
<!--start home section-->
<div id="home">
  <div class="container">
    <div class="row">
      <div class="span6 margin15 visible-phone">
        <img src="/assets/logo.png" alt="">
        <h1 class="margin5">Connect, Organize, and <br>share your media in one place.</h1>
        <a class="button btn btn-large margin5" href="#"><img src="/assets/arrow_down.png" alt=""> Download the app</a>
      </div>
      <div class="span6">
        <img src="/assets/iphone.png" alt="">
      </div>
      <div class="span6 margin15 hidden-phone">
        <img src="/assets/logo.png" alt="">
        <h1 class="margin5">Connect, organize, and <br>share your media in one place.</h1>
        <div id="request">
          <a id="request-btn" class="button btn btn-large margin5" href="/users/sign_up"><img src="/assets/arrow_down.png" alt=""> Request free account</a>
          <!--<form id="request-account" method="post" action="http://acapellaglobal.com/blendwith/Template/modal_ftu.html">-->
            <!--<input type="text" value="Enter your email">-->
            <!--<input type="submit" value="Request account">-->
          <!--</form>-->
        </div>
      </div>
    </div>
  </div>
</div>
<!--end home section-->
<!--start features section-->
<div id="features">
  <div class="navbar" id="navbar_feat">
    <div class="container separator">
      <div class="navbar-inner">
        <ul class="nav">
          <li class="active"><a href="#navbar_feat">Features</a></li>
          <li class="divider-vertical"></li>
          <li><a href="#navbar_about">Tour</a></li>
          <li class="divider-vertical"></li>
          <li><a href="#terms">Sign Up</a></li>

        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <!--start features 1 section-->
    <div class="row" id="feat1">
      <div class="span6 margin5 margin-5">
        <img src="/assets/features_1.png" alt="">
      </div>
      <div class="span6 margin10">
        <h2>Connect<span><br> your Social Networks</span></h2>
        <p>Your personal media is already shared on many different social networks all over the web.  Use blendwith to connect all of your favorite pictures, videos, and audio clips in one place.  Simply sign up, connect to your favorite social networks such as Facebook, Instgram and Twitter and you can get started to building your dynamic media player.</p>
        <a class="scroll" href="#home"><img src="/assets/back.png" alt="" class="margin5"></a>
        <a class="scroll" href="#feat2"><img src="/assets/more.png" alt="" class="margin5"></a>
      </div>
    </div>
    <!--end features 1 section-->
    <div class="separator"></div>
    <!--start features 2 section-->
    <div class="row" id="feat2">
      <div class="span6 margin10">
        <h2><span>Activate</span><br>your media</h2>
        <p>Now that all of your content has become available to be tapped into with Blendwith you can activate the media that you will want to add to your player.  This will save time down the road so you don't have to go through albums and albums of content that you would never share.  Activate it once on Blendwith and it will remember what can be seen by the public.

          <br><br>
          If you want to add some other content that is not in your social networks then that is no problem.  Using our simple drag and drop file uploader you can easily add as much content as you please. </p>
        <a class="scroll" href="#home"><img src="/assets/back.png" alt="" class="margin5"></a>
        <a class="scroll" href="#feat3"><img src="/assets/more.png" alt="" class="margin5"></a>
      </div>
      <div class="span6 margin5 margin-5">
        <img src="/assets/features_2.png" alt="">
      </div>
    </div>
    <!--end features 2 section-->
    <div class="separator"></div>
    <!--start features 3 section-->
    <div class="row" id="feat3">
      <div class="span6 margin5 margin-5">
        <img src="/assets/features_3.png" alt="">
      </div>
      <div class="span6 margin10">
        <h2>Organize<span><br>your content</span></h2>
        <p>Now that your photos, videos, and sound files are in one place you can easily organize it the way you want to share it.  You can set playlists and albums to keep everything linked in one place, so that you can easily find and share it later.
          <br>
          You can also add titles, tags, and even captions to ensure that any of your media fans understand what is really going on in your world.
        </p>
        <a class="scroll" href="#home"><img src="/assets/back.png" alt="" class="margin5"></a>
        <a class="scroll" href="#feat3"><img src="/assets/more.png" alt="" class="margin5"></a>
      </div>
    </div>
    <!--end features 3 section-->
    <div class="separator"></div>
    <!--start features 4 section-->
    <div class="row" id="feat2">
      <div class="span6 margin10">
        <h2><span>Share</span><br>your media</h2>
        <p>Now that all of your content has become available to be tapped into with Blendwith you can activate the media that you will want to add to your player.  This will save time down the road so you don't have to go through albums and albums of content that you would never share.  Activate it once on Blendwith and it will remember what can be seen by the public.

          <br><br>
          If you want to add some other content that is not in your social networks then that is no problem.  Using our simple drag and drop file uploader you can easily add as much content as you please4. </p>
        <a class="scroll" href="#home"><img src="/assets/back.png" alt="" class="margin5"></a>
        <a class="scroll" href="#feat3"><img src="/assets/more.png" alt="" class="margin5"></a>
      </div>
      <div class="span6 margin5 margin-5">
        <img src="/assets/features_2.png" alt="">
      </div>
    </div>
    <!--end features 4 section-->
    <div class="separator"></div>
    <div class="separator"></div>
    <!--start gallery section-->
    <div class="row" id="gallery">
      <div class="span12 margin5 margin-5">
        <!--start thumbnails section-->
        <h2><span>Tour</span></h2>

        <iframe src="http://player.vimeo.com/video/56767036" width="1024" height="578" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
        <ul class="thumbnails margin5">
          <li class="span3">
            <a data-toggle="lightbox" href="#shot1" class="thumbnail">
              <img src="/assets/gallery/shot1.png" alt="">
            </a>
          </li>
          <li class="span3">
            <a data-toggle="lightbox" href="#shot2" class="thumbnail">
              <img src="/assets/gallery/shot2.png" alt="">
            </a>
          </li>
          <li class="span3">
            <a data-toggle="lightbox" href="#shot3" class="thumbnail">
              <img src="/assets/gallery/shot3.png" alt="">
            </a>
          </li>
          <li class="span3">
            <a data-toggle="lightbox" href="#shot4" class="thumbnail">
              <img src="/assets/gallery/shot4.png" alt="">
            </a>
          </li>
        </ul>
      </div>
    </div>
    <!--end thumbnails section-->
    <!--start large shots section-->


    <div id="shot1" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
      <div class='lightbox-content'>
        <img src="/assets/gallery/shot1@2x.png" alt="">
      </div>
    </div>
    <div id="shot2" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
      <div class='lightbox-content'>
        <img src="/assets/gallery/shot2@2x.png" alt="">
      </div>
    </div>
    <div id="shot3" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
      <div class='lightbox-content'>
        <img src="/assets/gallery/shot3@2x.png" alt="">
      </div>
    </div>
    <div id="shot4" class="lightbox hide fade"  tabindex="-1" role="dialog" aria-hidden="true">
      <div class='lightbox-content'>
        <img src="/assets/gallery/shot4@2x.png" alt="">
      </div>
    </div>
    <!--end large shots section-->
    <!--end gallery section-->
  </div>
</div>
<!--end features section-->
<!--start about section-->
<div id="about">
  <div class="navbar" id="navbar_about">
    <div class="container separator">
      <div class="navbar-inner">
        <ul class="nav">
          <li class="active"><a href="#navbar_feat">Features</a></li>
          <li class="divider-vertical"></li>
          <li><a href="#navbar_about">About</a></li>
          <li class="divider-vertical"></li>
          <li><a href="#terms">Terms</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div class="container">
    <div class="row">
      <div class="span4 margin5 margin-5">
        <h2><span>Team</span></h2>
        <img src="/assets/team.png" alt="">
        <p>Aoccdrnig to a rscheearch at Cmabrigde Uinervtisy, it deosn't mttaer in waht oredr the ltteers in a wrod are,
          the olny iprmoetnt tihng is taht the frist and lsat ltteer be at the rghit pclae.</p>
      </div>
      <div class="span4 margin5 margin-5">
        <h2><span>Idea</span></h2>
        <img src="/assets/idea.png" alt="">
        <p>The rset can be a toatl mses and you can sitll raed it wouthit porbelm.
          Tihs is bcuseae the huamn mnid deos not raed ervey lteter by istlef, but the wrod as a wlohe. Awesomeness, true story!</p>
      </div>
      <div class="span4 margin5 margin-5">
        <h2><span>Contact</span></h2>
        <div id="map_canvas"></div>
        <p><strong>Awesomeapp, Inc.</strong><br>
          795 Folsom St., Suite 600<br>
          San Francisco, CA 94107<br>
          <abbr title="Phone">P:</abbr> (123) 456-7890
        </p>
      </div>
    </div>
  </div>
</div>
<!--end about section-->
<!--start terms and privacy section-->
<div id="terms">
  <div class="container">
    <div class="row">
      <div class="span6 offset3 margin15 margin-15">
        <p>read<a href="#termsofservice" data-toggle="modal"> terms of service</a> / <a href="#privacypolicy" data-toggle="modal">privacy policy</a></p>
        <!--start terms of service modal / popup-->
        <div id="termsofservice" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="termsModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="termsModalLabel">Terms of Service</h3>
          </div>
          <div class="modal-body">
            <p>The following terms and conditions govern your use of this web site,
              and any content made available from or through the following Envato Marketplaces web sites.</p>
            <p>Your terms of service text...</p>
            <p>Any questions about this Privacy Policy should be addressed to support@example.com</p>
          </div>
          <button class="btn margin-5" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
        <!--end terms of service modal / popup-->
        <!--start privacy policy modal / popup-->
        <div id="privacypolicy" class="modal hide fade" tabindex="-1" role="dialog" aria-labelledby="privacyModalLabel" aria-hidden="true">
          <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">x</button>
            <h3 id="privacyModalLabel">Privacy Policy</h3>
          </div>
          <div class="modal-body">
            <p>Application creator may periodically update this policy.
              We will notify you about significant changes in the way we treat personal information by sending a notice to the
              primary email address specified in your primary account holder account or by placing a prominent notice on our site.</p>
            <p>Your privacy policy text...</p>
            <p>Any questions about this Privacy Policy should be addressed to support@example.com</p>
          </div>
          <button  type="button" class="btn margin-5" data-dismiss="modal" aria-hidden="true">Close</button>
        </div>
        <!--end privacy policy modal / popup-->
        <h1>Like it?</h1>
        <a class="button btn btn-large margin5" href="#"><img src="/assets/arrow_down.png" alt=""> Download the app</a>
      </div>
    </div>
  </div>
</div>
<!--end terms and privacy section-->
<!--start footer section-->
<div class="footer">
  <div class="container">
    <div class="row">
      <div class="span4 margin5 margin-5">
        <span>"Stay in touch and have a nice app!"</span>
      </div>
      <div class="span4 margin5 margin-5">
        <img src="/assets/logo_footer.png" alt="">
      </div>
      <div class="span4 margin5 margin-5">
        <a class="button btn" href="#" target="_blank"><img src="/assets/social/facebook_icon.png" alt=""></a>
        <a class="button btn" href="#" target="_blank"><img src="/assets/social/twitter_icon.png" alt=""></a>
        <a class="button btn" href="#" target="_blank"><img src="/assets/social/instagram_icon.png" alt=""></a>
        <a class="button btn" href="#" target="_blank"><img src="/assets/social/pinterest_icon.png" alt=""></a>
        <a class="button btn" href="mailto:someone@example.com" target="_blank"><img src="/assets/social/mail_icon.png" alt=""></a>
      </div>
    </div>
  </div>
</div>
<!--end footer section-->