<meta charset="utf-8">
<title>Blendwith.com Front End Design Demonstration</title>
<meta name="description" content="">
<meta name="author" content="Walking Pixels | www.walkingpixels.com">
<meta name="robots" content="index, follow">
<meta name="viewport" content="width=device-width, initial-scale=1.0">


<%= favicon_link_tag %>
<!-- CSS styles -->
<%= stylesheet_link_tag :application, debug: false %>


<!-- JS Libs -->
<%= javascript_include_tag :application, debug: false %>
<%= javascript_include_tag controller_name, debug: true %>
