<h4>Playlists  <span class="awe-plus-sign right"></span></h4>
<ul class="unstyled playlists">
  <li class="colored">
  <a href="<%= playlists_path %>">All Photos</a>
  </li>
  <% current_user.playlists.select("id, name").each do |playlist| %>
    <%= content_tag :li, data: { id: playlist.id } do %>
    <%= link_to playlist.name, playlist_path(playlist) %>
    <% end %>
  <% end %>
</ul>
<h4>Social</h4>
<ul class="unstyled social">
  <li>
  <span class="awe-facebook-sign"></span>
  <a href="#">Facebook</a>
  </li>
  <li class="colored">
  <span class="awe-twitter"></span>
  <a href="#">Twitter</a>
  </li>
  <li>
  <span class="awe-google-plus-sign"></span>
  <a href="#">Google Plus</a>
  </li>
  <li>
  <span class="awe-plus-sign"></span>
  <a href="#">Add More Networks</a>
  </li>
</ul>
